<!DOCTYPE html>
<html>
  <head>
    <title>Blog Rails Challenge</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

    <!-- Tailwind 2.x -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <!-- CSS Reset -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

    <!-- Milligram CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
  </head>

  <body class="bg-indigo-50">
  <div class="bg-purple-100 p-4 m-4">
    <%= link_to "admin", posts_path, class: "float-right button button-clear" %>
    <h4 class="m-0"><%= link_to "Blog Rails Challenge", root_path %></h4>
  </div>
    <div class="container bg-indigo-100">
      <%= yield %>
    </div>
  </body>
</html>
